.Container {
  height: 100%;
  background-image: url("../../asset/space-tourism-website-main/starter-code/assets/destination/background-destination-desktop.jpg");
  padding-top: 2em;
}

.Title {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 1em;
}

.Row{
    display: flex;
    flex-direction: row;
}

.Number {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.25;
}
.TitleSelect {
  margin: 0px 0px 0px 20px;
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #D0D6F9;
}

.ForceRow {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 3em;
}

.ContainerAbout {
  padding: 5em;
  display: flex;
  flex-direction: column;
}

.ContainerSelect {
  margin-left: 20em;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
