@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Bellefair&family=Rubik:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

.Container {
  background-image: url("../../asset/space-tourism-website-main/starter-code/assets/home/background-home-desktop.jpg");
  height: 100%;
  padding-top: 2em;
}

.Left {
  color: white;
  width: 450px;
  height: 382px;
}

.Left > p {
  color: #d0d6f9;
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
}

.Left > p:first-child {
  font-size: 28px;
  color: #d0d6f9;
  font-family: "Barlow Condensed", sans-serif;
}

.Left > h1 {
  font-size: 150px;
  font-weight: normal;
  font-family: "Bellefair", serif;
}

.ContainerAbout {
  margin-top: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.EffectAmazing {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 450px;
  height: 450px;
  left: 913px;
  top: 407px;
  -webkit-transition: all 1.2s 0s linear;
  -moz-transition: all 1.2s 0s linear;
  -o-transition: all 1.2s 0s linear;
  transition: all 1.2s 0s linear;
  border-radius: 50%;
  z-index: 1;
}

.EffectAmazing:hover {
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.1;
}

.Rigth {
  display: flex;
  justify-content: center;
  color: black;
  background-color: white !important;
  width: 274px;
  height: 274px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 32px;
  font-family: "Bellefair", serif;
  cursor: pointer;
  z-index: 2;
}

/*Responsive Mobile iPhone */

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .Container {
    background-image: url("../../asset/space-tourism-website-main/starter-code/assets/home/background-home-mobile.jpg");
    height: 100vh;
  }

  .ContainerAbout {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Left {
    width: 327px;
    height: 276px;
    text-align: center;
    padding: 0em 0em 0em 0em;
  }
  .Left > h1 {
    font-size: 80px;
  }
  .Left > p {
    font-size: 16px;
  }

  .EffectAmazing {
    width: 150px;
    height: 150px;
  }

  .Rigth {
    width: 150px;
    height: 150px;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .Container {
    background-image: url("../../asset/space-tourism-website-main/starter-code/assets/home/background-home-mobile.jpg");
    height: 100vh;
  }

  .ContainerAbout {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Left {
    width: 327px;
    height: 276px;
    text-align: center;
    padding: 0em 0em 0em 0em;
  }
  .Left > h1 {
    font-size: 80px;
  }
  .Left > p {
    font-size: 16px;
  }

  .EffectAmazing {
    width: 150px;
    height: 150px;
  }

  .Rigth {
    width: 150px;
    height: 150px;
  }
}

/* ----------- iPhone X ----------- */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .Container {
    background-image: url("../../asset/space-tourism-website-main/starter-code/assets/home/background-home-mobile.jpg");
    height: auto;
    background-size: cover;
  }

  .ContainerAbout {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 0;
  }
  .Left {
    width: 327px;
    height: 276px;
    text-align: center;
    padding: 0em 0em 0em 0em;
    margin-bottom: 8em;
  }
  .Left > h1 {
    font-size: 80px;
  }
  .Left > p {
    font-size: 16px;
  }

  .EffectAmazing {
    width: 150px;
    height: 150px;
  }

  .Rigth {
    width: 150px;
    height: 150px;
  }
}
