.CardCrew {
  width: 488px;
  height: 54px;
  display: flex;
  flex-direction: column;
}

.CrewRole {
  font-family: Bellefair;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.CrewName {
  font-family: Bellefair;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  text-transform: uppercase;
  color: #ffffff;
  width: 614px;
}

.CrewDescription {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */

  color: #d0d6f9;
}

.Point {
  border: none;
  width: 15px;
  height: 15px;
  background: linear-gradient(to right, #ffffff, #ffffff);
  border: 1px solid #ffffff;
  background-color: transparent;
  color: white;
  font-size: 80px;
  font-weight: bold;
  border-radius: 30px;
}

.ContainerButton {
  position: absolute;
  width: 132px;
  height: 15px;
  top: 650px;
  display: flex;
  width: 100px;
  justify-content: space-around;
  align-items: center;
}
