.PointActive{
    border:none;
    width: 15px;
    height: 15px;
    background: linear-gradient(to right, #ffffff, #ffffff);
    border: 1px solid #ffffff;
    background-color: transparent;
    color: white;
    font-size: 80px;
    font-weight: bold;
    border-radius: 30px;
}

.PointDisable{
    border:none;
    width: 15px;
    height: 15px;
    background: linear-gradient(to right, #979797, #979797);
    border: 1px solid #979797;
    background-color: transparent;
    border-radius: 30px;
    opacity: 0.17;
    cursor: pointer;
}

.PointDisable:hover{
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}