@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Bellefair&family=Rubik:wght@300&display=swap");

.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 16px;
  font-family: "Bellefair", serif;
}

.ContainerLink {
  width: 70%;
  height: 4em;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  z-index: 1;
}

.ImgLogo {
  margin-left: 2em;
}

.NameLink {
  font-weight: normal;
}

.Number {
  font-weight: bold;
  margin-right: 1em;
}

.Container > hr {
  position: relative;
  width: 23%;
  border-color: #979797;
  margin-right: -3em;
  z-index: 2;
}

.Link {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LinkSelect {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #ffffff;
}

.Link:hover {
  border-bottom: 3px solid #979797;
}
